{% extends "base.html" %}

{% block content %}
    <h1>My Events list</h1>    
    <table>
        <tr>
            <th>Date</th>
            <th>Event name</th>
            <th>Number of guests</th>
            <th>Room location</th>
            <th>Description</th>
            <th>Recurring</th>
        </tr>
        {% for event in events %}
        <!--  date, event_name, number_of_guests, room_location, description -->
        <tr>
            <td>{{event.date }}</td>
            <td>{{event.event_name }}</td>
            <td>{{event.number_of_guests }}</td>
            <td>{{event.room_location }}</td>
            <td>{{event.description}}</td>
            <td>
            {% if event.recurring%}
                 ✅ 
            {% endif %}
            </td>
        </tr>    
        {% endfor %}
    </table>    
{% endblock %}